<div class="footer">
  <div class="links-container">
    <section class="">
     <h2>Connecting you with trusted local service providers</h2> 
     <img src="/assets/logo.png" alt="" srcset="">
    </section>
    <section>
      <ul>
        <h2>Support</h2>
        <li>Help Center</li>
        <li>Contact Us</li>
        <li>Documentation</li>
        <li>API</li>
      </ul>
    </section>

    <section>
      <ul>
        <h2>For Businesses</h2>
        <li>List Your Services</li>
        <li>Partner Program</li>
        <li>Register Your Business</li>
        <li>Business Support</li>
      </ul>
    </section>
    <section>
      <ul>
        <h2>Company</h2>
        <li>About Us</li>
        <li>Careers</li>
        <li>Press</li>
        <li>Contact</li>
      </ul>
    </section>
  </div>

  <div class="copyright">
    <hr />
    <p>
      &copy; 2025 BusinessConnect. All rights reserved. | Privacy Policy | Terms
      of Service
    </p>
  </div>
</div>
