<div class="header">
  <h4>
    Discover a variety of local businesses and services tailored to your needs
  </h4>
  <p>Book or order a service</p>
</div>
<div class="filter-wrapper">
  <div class="filter">
    <h4>Filter by category</h4>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select>
        @for (category of Categories; track category) {
        <mat-option (click)="filterByCategory(category.viewValue)">{{ category.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="business-list-container">
  @for (business of businesses; track $index) {
  <div class="business-card">
    <img [src]="business.img" [alt]="business.name" />
    <h3>{{ business.name }}</h3>
    <p>{{ business.description }}</p>
    <small>{{ business.category }}</small>
    <button type="submit" class="serviceButton">Book a Service</button>
  </div>
  }
</div>
