<div class="business-list-container">
  @for (business of visibleBusinesses; track $index) {
    <div class="business-card">
      <img [src]="business.img" [alt]="business.name" />
      <h3>{{ business.name }}</h3>
      <p>{{ business.description }}</p>
      <small>{{ business.category }}</small>
    </div>
  }
</div>

@if (visibleBusinesses.length < businesses.length) {
  <button class="explore-button" routerLink="/businessServices">Explore All Businesses</button>
} @else {
  <p class="no-more-message">No more businesses to show.</p>
}